*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
body{
    font-family: 'Raleway', sans-serif;
}
.headtext{
    font-weight: bolder;
}
.counter-style{
    font-size: 4rem;
}
#result-display{
    font-size: 1.25rem;
    
}
#end-result{
    font-size: 2rem;
}